<%= form_for(@note) do |f| %>

  <% if @note.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @note.errors.count %>件のエラー:</h2>

      <ul>
        <% @note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  市場<br>
  <%= f.select :title, [["医療", "医療"], ["物流", "物流"], ["小売", "小売"], ["FA", "FA"], ["その他", "その他"]], :include_blank => true %><br>
  <!--< %= f.text_field :title, { class: "form-control title-field" } %>-->
  販社
  <%= f.text_field :sales_company, { class: "form-control title-field" } %>
  E/U
  <%= f.text_field :end_user, { class: "form-control title-field" } %>
  
  
 
    <%= f.fields_for :proposals do |proposal| %>
      <%= render 'proposal_fields', f: proposal %>
    <% end %>
    
    <div id="links">
      <%= link_to_add_association "+", f, :proposals, { class: "btn2 destroy-btn" } %>
    </div>
     
    
  納期
  <%= f.text_field :delivery_day, { class: "form-control title-field datepicker" } %>
  内容
  <%= f.text_area :content, { class: "form-control content-field" } %>
  
<label><%= f.radio_button :status, '受注' %>受注</label>
<label><%= f.radio_button :status, '継続', :checked => true %>継続</label>
<label id="login-show" class="login"><%= f.radio_button :status, '失注' %>失注</label>

  <br>
  <%= f.submit "保存", { class: "btn primary-btn" } %>





  <div class="signup-modal-wrapper">
    
  </div>
  <div class="close-modal">
        <i class="fa fa-2x fa-times"></i>
      </div>

  
  <div id="login-modal"  class="login-modal-wrapper">

    <div class="modal">
   
      <div class="close-modal">
        <i class="fa fa-2x fa-times"></i>
      </div>
      <div id="login-form">
        <h2>失注理由</h2>
        <form action="#">
          <%= f.text_area :miss, { class: "form-control1 content-field" } %>
          
            <%= f.submit "保存", { class: "btn primary-btn" } %>

        </form>
      </div>
    </div>
    </div>
    
    


<!--  <h2>Import Products</h2>-->
<!--< %= form_tag import_notes_path, multipart: true do %>-->
<!--  < %= file_field_tag :file %>-->
<!--  < %= submit_tag "Import" %>-->
<!--< % end %>-->

<% end %>