<li>
  <%= image_for(note.user) %>
  <span class="user-name">
    <%= link_to "案件ID：" + note.id.to_s, note_path(note.id) %>　<%= note.user.name+"さん" %>
  </span>
  <span class="content">
     <%= note.sales_company %> →
    <%= note.end_user %>

  </span>
  <span>
    登録日：<%= note.created_at.strftime("%Y-%m-%d") %>
  </span>
    

</li>