<aside class="userSidebar">  
  <section>
    <span class="label">プロフィール画像</span>
    <h3 class="user-info">
      <%= image_for(@user) %>
    </h3>
  </section>

  <section>
    <span class="label">ユーザー</span>
    <h3 class="user-info"><%= @user.name %>さん</h3>
  </section>
  
  <section>
    <span class="label">メールアドレス</span>
    <h3 class="user-info"><%= @user.email %></h3>
  </section>


  <% if current_user?(@user) %>
    <section>
      <small><%= link_to 'プロフィールを編集', edit_user_path(@user) %></small>
    </section>
  <% end %>

</aside>


<ul class="userNotes">
  <h2><%= @user.name + @title %></h2>
  <% @notes.each do |note| %>
  <%= render  "notes/sendnote",note: note %>
  <% end %>
  <%= paginate @notes %>

<!--< % if current_user?(@user) %>-->
<!--  <p>-->
<!--< %= mail_to 'user@example.com', ' メールを起動(まだ使えません）', :class => "fa fa-envelope-o" %>-->

<!--</p>-->
<!--< % end %>-->


</ul>

<ul class="userNotes">
  <h2 class="userReminder">リマインダー(更新してください)</h2>
  
  <% @reminders.each do |note| %>
  <%= render "notes/reminder",note: note %>
  <% end %>
  <%= paginate @reminders %>
</ul>